{% extends 'base.html' %}
{% load static %}
{% block title %} {{ car }} | {{ block.super }} {% endblock title %}
{% block content %}
<h1>{{ car.car_model }}</h1>
{% if car.cover %}
    <img class="car-cover" src="{{ car.cover.url }}">
{% else %}
    <img class="car-cover" src="{% static 'garage/img/default.png' %}">
{% endif %}
<ul>
    <li><b>Client</b> - {{ car.client }}</li>
    <li><b>Car number</b> - {{ car.plate_nr}}</li>
    <li><b>VIN </b>- {{ car.vin }}</li>
    <li><b>Engine </b>- {{ car.car_model.engine }} </li>
    <li><b>Year</b> - {{ car.car_model.year }}</li>
</ul>
<p>{% if car.client == request.user %}
    <a class="button" href="{% url 'user_car_update' car.pk %}">Update car</a>
    {% endif %}</p>
{% endblock content %}