{% extends 'base.html' %}
{% block title %}My Orders{{ block.super }}{% endblock title %}
{% block content %}
<h1>My service orders</h1>
{% if order_list %}
    <ul>
        {% for order in order_list %}
            <li class="order-status-{{ order.status }}">
                <span class="order-id">Order #{{ order.id }}</span>
                <a href="{% url 'order_detail' order.pk %}">{{ order.date }}</a>
                , <em>Status</em> - {{ order.get_status_display }}{% if order.due_back %}. Complete till - <ins>{{ order.due_back }}</ins>{% endif %}
                {% if order.status <= 2 and order.is_overdue %}<span class="order-overdue">OVERDUE!</span>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
<p class="box box-warning">No orders on this account</p>
{% endif %}
{% endblock content %}